// File Name: _preloader-linear.scss
// Description: 
// Used by: 
// Dependencies: 
// Date created: 25/04/2015
// ------------------------------------------------------------ 
.preloader-linear {
    @extend %hideText;
    display:block;
    @extend %marginAuto;
    background: $preloaderLight;
    width: 300px;
    height: 10px;
    position: relative;

    &:after{
        content: "";
        width: 10px;
        height: 10px;
        background: $preloaderDark;
        position: absolute;
        top: 0;
        left: 0;
        @include animation('increase 1.2s infinite linear');
    }
}

@include keyframes(increase) {0%{ width:10px; } 100%{ width:300px; }}

